body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333333;
}

tr:nth-child(even) {
    background-color: #1e1e1e;
}

tr:nth-child(odd) {
    background-color: #2e2e2e;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555555;
}