body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #ffffff;
}

a{
    color: #131353;
    /*text-decoration: none;*/
}
a:visited {
    color: darkgrey;
    /*text-decoration: none;*/
}
a:hover {
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333333;
}

tr:nth-child(even) {
    background-color: #1e1e1e;
}

tr:nth-child(odd) {
    background-color: #2e2e2e;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555555;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#site-list-table{
    width: 90%;
    margin: 20px auto;
    border: 1px solid #333333;
}