body {
    background-color: #121212;
    color: #ddd;
    font-family: Arial, sans-serif;
    font-size: medium;
}

h1 {
    text-align: center;
    color: #ffffff;
}

a{
    color: #131353;
    /*text-decoration: none;*/
}
a:visited {
    color: darkgrey;
    /*text-decoration: none;*/
}
a:hover {
    color: white;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

@keyframes stretch {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.1);
    }
    100% {
        transform: scaleX(1);
    }
}

button:hover {
    background-color: #555555;
    animation: stretch 0.3s ease-in-out;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#site-list-table{
    width: 90%;
    max-width: 1000px;
}

#canvas {
    opacity: 1;
    position: absolute;
    z-index: -1;
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 15px 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .table-header {
        background-color: #3b3b4b;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        padding: 20px 15px;
    }
    .table-row {
        /*background-color: #ffffff;*/
        /*box-shadow: 0px 0px 9px 0px rgba(255,255,255,0.5);*/
    }
    .col-1 {
        flex-basis: 30%;
    }
    .col-2 {
        flex-basis: 40%;
    }
    .col-3 {
        flex-basis: 10%;
    }
    .col-4 {
        flex-basis: 20%;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }
        .table-row{

        }
        li {
            display: block;
        }
        .col {

            flex-basis: 100%;

        }
        .col {
            display: flex;
            padding: 10px 0;
            &:before {
                color: #3b3b4b;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}



.loader {
    position: absolute;
    top:30%;
    left:45%;
    width: calc(100px - 24px);
    height: 50px;
    animation: flippx 2s infinite linear;
}
.loader:before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFF;
    transform-origin: -24px 50%;
    animation: spin 1s infinite linear;
}
.loader:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

@keyframes flippx {
    0%, 49% {
        transform: scaleX(1);
    }
    50%, 100% {
        transform: scaleX(-1);
    }
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Media query for small screens */
@media (max-width: 700px) {

}

#table-body {
    background-color: black;
}