body {
    background-color: #121212;
    color: #ddd;
    font-family: Arial, sans-serif;
    font-size: medium;
}

h1 {
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
}

a{
    color: #131353;
    /*text-decoration: none;*/
}
a:visited {
    color: #333333;
    /*text-decoration: none;*/
}
a:hover {
    color: white;
}
.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@keyframes stretch {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.1);
    }
    100% {
        transform: scaleX(1);
    }
}

button:hover {
    background-color: #555555;
    animation: stretch 0.3s ease-in-out;
}

.table-container {
    /*padding-top: 1vh;*/
    width: 100%;
    height: 100%;
}

#site-list-table{
    margin: auto auto;
    max-width: 1000px;
    width: 90%;
    min-height: 60vh;
}

#table-body {
    background-color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-radius: 3px;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-row {

}

.table-row:hover {
    /*box-shadow: 3px 3px 5px #888888;*/
}

.table-header {
    background-color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 25px 15px;
    margin-bottom: 10px;
}

.col-1 {
    flex-basis: 30%;
}
.col-2 {
    flex-basis: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.col-3 {
    flex-basis: 10%;
}
.col-4 {
    flex-basis: 10%;
}
.col-5 {
    flex-basis: 10%;
}
.col-6 {
    flex-basis: 10%;
}

@media all and (max-width: 700px) {
    .table-header {
        display: none;
    }
    .table-row{
        padding: 5px;
    }
    li {
        display: block;
    }
    .col {
        flex-basis: 100%;
    }
    .col {
        display: flex;
        padding: 2px 0;
        &:before {
            color: #3b3b4b;
            padding-right: 10px;
            content: attr(data-label);
            flex-basis: 30%;
            text-align: right;
        }
    }
    .col-1 {
        font-weight: bold;
    }
}

/* Canvas and Loader Animations continuously */
#canvas {
    display: block;
    opacity: 1;
    position: absolute;
    z-index: -1;
}

.htmx-request .loader {
    display: inline;
}

.htmx-request.loader {
    display: inline;
}

.loader {
    position: absolute;
    top:30%;
    left:45%;
    width: calc(100px - 24px);
    height: 50px;
    animation: flippx 2s infinite linear;
}
.loader:before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #333333;
    transform-origin: -24px 50%;
    animation: spin 1s infinite linear;
}
.loader:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background: #333333;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

@keyframes flippx {
    0%, 49% {
        transform: scaleX(1);
    }
    50%, 100% {
        transform: scaleX(-1);
    }
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Media query for small screens */
@media (max-width: 700px) {

}


input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 30px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.3s;
}

input:checked + label {
    background: #333333;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 50px;
}

@keyframes highlight {
    0% {
        background-color: lightgray;
    }
    100% {
        background-color: inherit;
    }
}

.highlight {
    animation: highlight 0.5s ease-in-out;
}

.tool-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.tool{
    margin-right: 5px;
}

/* Terminal Styling */
.terminal {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    height: 400px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.output {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 10px;
}

input {
    background: none;
    border: none;
    outline: none;
    color: #7f3393;
    font-size: 1em;
    width: 100%;
}

input::placeholder {
    color: #777;
}